@font-face {
    font-family: 'Archia';
    src: url(../assets/fonts/Archia-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archia', sans-serif;
    color: #fff;
}

body {
    background-color: #190421;
}   
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #190421;
    }
nav ul {
    display: flex;
    list-style: none;
    margin-top: 8px;
}

nav ul li {
    margin-right: 1rem;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: transform 0.3s;
}

nav a:hover {
    background-color: #ee6353;
    transform: scale(1.1); /* Zoom au survol */
}

#video-section {
    position: relative;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10%;
}

#presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#news {
    margin-top: 10%;
    text-align: center;

}

#news h1 {
    margin-bottom: 3%;
    font-size: 3rem; 
}

#news p {
    margin-top: 3%;
    font-size: 1.5rem;
}

.event-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 3%;
}

.event-card .event:hover {
    transform: scale(1.05); /* Zoom au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
}

.event-card .event {
    transition: transform 0.3s, box-shadow 0.3s;
}

.event-card .event:hover {
    transform: translateY(-5px); /* Décalage vers le haut au survol */
}


.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.first-bg-image {
    text-align: center;
    margin-bottom: 10px;
}

.first-p {
    margin-top: 3%;
}

video {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.osmoz-img {
    margin-top: 3%;
}

.sub {
    border: 1px solid #ee6353;
    background-color: #ee6353;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.25rem;
    margin-top: 3rem;
}

.donation {
    border: 1px solid #ee6353;
    background-color: #ee6353;
}

.donation:hover {
    transform: scale(1.05);
}

.discover-text {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    margin-bottom: 3%;
}

.discover-text p {
    margin-top: 3%;
    font-size: 1.5rem;
}

.card-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
    text-align: center;
}

#card {
    border: 1px solid #ee6353;
    background-color: #ee6353;
    color: #fff;
    display: block;
    padding: 0.5rem 1rem;
    width: 160px;
    height: 160px;
    border-radius: 1rem;
    cursor: pointer;
}

#card:hover {
    transform: scale(1.05);
}

#card p,
#card img {
    background-color: #ee6353;
}

.calendar p {
    margin-top: 3%;
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    min-width: 370px;
    margin: 0 auto;
}


.form-container {
    display: flex;

}

.left-container {
    flex: 1;
    height: 480px;
}

.right-container {
    display: flex;
    flex: 1;
    height: 460px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.left-container {
    display: flex;
    flex: 1;
    height: 480px;
    justify-content: center;
    align-items: center;
    color: white;
}

.left-container p {
    font-size: 0.9rem;
}

.right-inner-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

.left-inner-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
}

input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: 1px solid teal;
}

button {
    border-radius: 20px;
    border: 1px solid #00b4cf;
    background-color: #00b4cf;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}



form p {
    text-align: left;
}



#donation-section {
    text-align: center;
    margin-top: 5%;
}

.container {
    background-color: #251331;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    min-width: 370px;
    margin: 0 auto;
    color: #fff;
}

.form-container {
    display: flex;
}

.left-container {
    flex: 1;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #190421;
}

.left-inner-container {
    text-align: center;
    padding: 2rem;
}

.right-container {
    flex: 1;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #251331;
}

.right-inner-container {
    width: 70%;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label {
    margin-bottom: 0.5rem;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    background-color: #251331;
    color: #fff;
}

input:focus,
textarea:focus {
    outline: 1px solid #ee6353;
}

.donate-button {
    border: 1px solid #ee6353;
    background-color: #ee6353;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.25rem;
    cursor: pointer;
    align-self: center;
    width: 100%;
}

.donate-button:hover {
    background-color: #d5554b;
    border-color: #d5554b;
}

#contact-section {
    text-align: center;
    margin-top: 8%;
}

#contact-section .title {
    font-size: 2.5rem;
    color: #ee6353;
    margin-top: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #ee6353;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    color: #fff;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

form:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

label {
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: #ee6353;
    transition: color 0.3s;
}

label:hover {
    color: #d5554b;
}

input,
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    background-color: #251331;
    color: #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, border-color 0.3s;
}

input:focus,
textarea:focus {
    background-color: #2e1a43;
    border-color: #ee6353;
    outline: none;
}

.submit-button {
    border: 1px solid #ee6353;
    background-color: #ee6353;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.submit-button:hover {
    background-color: #d5554b;
    border-color: #d5554b;
}

.submit-button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.bg-img {
    position: relative;
    height: 500px;
    width: 500px;
    bottom: 380px;
    right: 50px;
}

.bg-img2 {
    position: relative;
    height: 500px;
    width: 500px;
    bottom: 380px;
    left: 500px;
}


/* Nos Actions */
#actions {
    margin-top: 6rem;
    padding: 2rem 1rem;
    background-color: #190421;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    color: #ee6353;
    margin-bottom: 2rem;
}

.actions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.action-card {
    background-color: #D8D9DF;
    color: #190421;
    margin: 1rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 30%;
    max-width: 350px;
    cursor: pointer;
    overflow: hidden;
}

.action-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.action-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3s;
}

.action-card:hover .action-image {
    transform: scale(1.05);
}

.action-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #190421;
}

.action-description {
    font-size: 1rem;
    color: #190421;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInUp {
    animation-name: fadeInUp;
}

/* À Propos */
#about {
    padding: 6rem 1rem;
    background-color: #190421;
    color: #fff;
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.section-title {
    font-size: 2.5rem;
    color: #ee6353;
    margin-bottom: 2rem;
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInUp {
    animation-name: fadeInUp;
}

/* Styles pour les icônes des actions */
.action-icon {
    font-size: 3rem; /* Taille des icônes */
    color: #825bef  ; /* Couleur des icônes */
}

/* Animation pour les cartes d'action */
.action-card {
    animation-duration: 0.5s; /* Durée de l'animation */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    animation-fill-mode: both;
}

.fadeInUp {
    animation-name: fadeInUp;
}

/* FOOTER */

.footer {
    margin-top: 100px;
    background-color: #825bef;  /* Couleur de fond modifiée */
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    flex-wrap: wrap;
    

}

.footer .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 0 1rem;

}

.footer .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.footer .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;

}

.footer .footer-links li {
    margin: 0.5rem 0;

}

.footer .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;

}

.footer .footer-links a:hover {
    color: #ee6353;
}

.footer .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    list-style: none;
    padding: 0;

}

.footer .social-icon__item {
    margin: 0 1rem;
    position: relative;

}

.footer .social-icon__link {
    font-size: 2rem;
    color: #fff;
    transition: transform 0.3s, color 0.3s;
    position: relative;
    overflow: hidden;
    display: inline-block;

}

.footer .social-icon__link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background: #ee6353;
    transition: width 0.3s ease-out;
    z-index: -1;

}

.footer .social-icon__link:hover::before {
    width: 100%;
}

.footer .social-icon__link:hover {
    color: #ee6353;
    transform: translateY(-10px);
}

.footer .contact-info {
    margin: 1rem 0;
    text-align: left;
    flex: 1;

}

.footer .contact-info p {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .contact-info ion-icon {
    margin-right: 0.5rem;
    vertical-align: middle;
}

.footer .footer-text {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.75;
    transition: opacity 0.3s, color 0.3s;

}

.footer .footer-text:hover {
    opacity: 1;
    color: #ee6353;
}

.footer .footer-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: #ee6353;
    animation: slideIn 10s linear infinite;
}

@keyframes slideIn {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
